<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ncore-test-base" connectionString="Server=10.10.0.125;Port=5432;database=test;password=postgres;user id=postgres;" providerName="Npgsql" />
  </connectionStrings>
</configuration>